<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>SecRBAC</display-name>

	<servlet>
		<servlet-name>Account</servlet-name>
		<servlet-class>com.secrbac.servlet.UserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Account</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Auth</servlet-name>
		<servlet-class>com.secrbac.servlet.AuthServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Auth</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Data</servlet-name>
		<servlet-class>com.secrbac.servlet.DataServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Data</servlet-name>
		<url-pattern>/data</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PrivilegeData</servlet-name>
		<servlet-class>com.secrbac.servlet.PrivilegeDataServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PrivilegeData</servlet-name>
		<url-pattern>/privilegeData</url-pattern>
	</servlet-mapping>



	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>